.profile__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__title {
        max-width: 189px;
        font-size: 27px;
        line-height: 33px;
    }
 }
