.profile__button {
    min-width: 148px;
    width: 148px;
    height: 48px;
    background-image: url(../../../images/plus.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    transition: opacity 0.3s linear 0.1s;
    cursor: pointer;
    background-color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__button:hover {
   opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__button {
      min-width: 280px;
      width: 280px;
      background-size: 16px 16px;
    }
}