.auth__submit-button {
  width: 358px;
  height: 50px;
  margin-top: 216px;
  background: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .3s ease-in-out .1s;
}

.auth__submit-button:hover {
  opacity: .85;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .auth__submit-button {
    width: 260px;
  }
}
