.element__like {
    background-image: url(../../../images/heart.svg);
    width: 22px;
    height: 19px;
    transition: opacity .3s ease-in .1s;
    cursor: pointer;
    border: 0;
    background-color: #fff;
    margin-bottom: 3px;
}

.element__like:hover {
   opacity: 0.5;
}