.header {
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    margin: 0 auto;
    border-bottom: rgb(84, 84, 84, .7) solid 1px;  
}

@media screen and (min-width: 1280px){
    .header {
        padding-top: 45px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        padding-top: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding-top: 35px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
       padding-top: 28px;
    }
}